:root {
    --white-color: #fff;
    --text-color: #333;
    --color-main: #EE4D2D;
    --height-navbar: 27px;
    --height-header: 120px;
    --height-logo_search_cart: calc(var(--height-header) - var(--height-navbar));
}

* {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /*1 rem = 10px*/
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}


/*Reponsive*/

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}


/**/

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Growth {
    from {
        transform: scale(var(--Growth-form));
    }
    to {
        transform: scale(var(--Growth-to));
    }
}


/*Dùng chung*/

.pt-24 {
    padding-top: 24px;
}

.ml-10 {
    margin-left: 10px;
}

.mr--4 {
    margin-right: -3px;
}

.mr--12 {
    margin-right: 12px;
}

.mt-48 {
    margin-top: 48px;
}

.mb-36 {
    margin-bottom: 36px;
}

.mb-48 {
    margin-bottom: 48px;
}


/* Modal */

.modal {
    position: fixed;
    inset: 0 0 0 0;
    display: flex;
    animation: FadeIn linear 0.2s;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --Growth-form: 0.5;
    --Growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: Growth linear 0.2s;
}


/* Button */

.btn {
    background-color: transparent;
    appearance: none;
    border: none;
    outline: none;
    min-width: 120px;
    height: 36px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0;
    cursor: pointer;
    user-select: none;
    color: var(--text-color);
    line-height: 1.6rem;
}

.btn.btn-normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
    background-color: var(--color-main);
    color: var(--white-color);
}

.btn.btn--disabled {
    cursor: default;
    /* filter: brightness(80%); */
    background-color: #c3c3c3;
    color: #949494;
}


/*Pagination*/

.pagination-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
}

.pagination-item--active:hover .pagination-link {
    background-color: #ff6433;
    color: var(--white-color) !important;
}

.pagination-item:first-child:hover .pagination-link,
.pagination-item:last-child:hover .pagination-link {
    color: #939393;
}

.pagination-item:hover .pagination-link {
    color: var(--color-main);
}

.pagination-item--active .pagination-link {
    background-color: var(--color-main);
    color: var(--white-color);
}

.pagination-link {
    text-decoration: none;
    color: #939393;
    font-size: 2rem;
    display: block;
    min-width: 40px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin: 0 12px;
    border-radius: 2px;
    font-weight: 400;
}