.header {
    height: var(--height-header);
    background: linear-gradient(-180deg, #f53d2d, #f63);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 8px;
    margin-bottom: 0px;
    display: flex;
}


/*User*/

.header__navbar-user {
    display: flex;
    align-items: center;
    position: relative;
}

.header__navbar-user-img {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.header__navbar-username {
    margin-left: 4px;
    font-size: 1.3rem;
    font-weight: 400;
}

.header__navbar-user:hover .header__navbar-username {
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-user:hover .header__navbar-user-img {
    opacity: 0.7;
}


/*Menu user*/

.header__user-menu {
    width: 150px;
    background-color: var(--white-color);
    z-index: 9999;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform-origin: calc(100% - 32px) top;
    transform: scale(0);
    opacity: 0;
    transition: all ease-in 0.2s;
    will-change: opacity, transform;
}

.header__navbar-user:hover .header__user-menu {
    transform: scale(1);
    opacity: 1;
}

.header__user-menu::after {
    position: absolute;
    content: "";
    display: block;
    top: -30px;
    right: 15px;
    border-style: solid;
    z-index: 99;
    border-width: 15px 20px;
    border-color: transparent transparent #fff transparent;
}

.header__user-menu::before {
    position: absolute;
    content: "";
    display: block;
    height: 10px;
    top: -10px;
    right: 0;
    width: 75%;
}

.header__user-menu-list {
    list-style: none;
    padding: 0;
}

.header__user-menu-item {
    padding-left: 15px;
}

.header__user-menu-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.header__user-menu-item:hover .header__user-menu-link {
    color: #00BFA5;
}

.header__user-menu-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #000000DE;
    line-height: 40px;
    display: block;
}


/**/

.header__navbar-item,
.header__navbar-item-connec {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item,
.header__navbar-link,
.header__navbar-item-connec {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: 400;
}

.header__navbar-item:hover,
.header__navbar-icon:hover,
.header__navbar-link:hover,
.header__navbar-Notify:hover .header__navbar-link,
.header__navbar-Notify:hover .header__navbar-icon,
.header__navbar-link:hover .header__navbar-icon,
.header__navbar-language:hover .header__navbar-link,
.header__navbar-language:hover .header__navbar-icon,
.header__navbar-QR:hover .header__navbar-link {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    height: 1.5rem;
    border-left: 2px solid #f86d5c;
    right: -11px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon {
    color: var(--white-color);
    font-size: 1.6rem;
    margin: 0 5px;
}

.header__navbar-item,
.header__navbar-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-lable-icon {
    cursor: text;
    color: var(--white-color);
}


/* QR header */

.header__qrcode {
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    padding: 4px;
    border-radius: 10px;
    display: none;
    animation: FadeIn ease .5s;
    z-index: 99999;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.header__qrcode::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    top: -10px;
    left: 0;
}

.header__navbar-QR:hover .header__qrcode {
    display: block;
}

.header__navbar-language:hover .header__language,
.header__navbar-Notify:hover .header__notify {
    transform: scale(1);
    opacity: 1;
}

.header__qrcode-img {
    width: 100%;
    object-fit: cover;
}

.header__qrcode-app {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4px 10px 0;
}

.header__qrcode-app--img {
    height: 20px;
    object-fit: cover;
}

.header__notify {
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 8px);
    right: 0;
    width: 40rem;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform-origin: calc(100% - 32px) top;
    transform: scale(0);
    opacity: 0;
    will-change: opacity, transform;
    z-index: 99999;
    transition: all ease-in 0.2s;
}

.header__notify::before {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-width: 20px 28px;
    top: -29px;
    right: 14px;
    border-color: transparent transparent #fff transparent;
}

.header__notify::after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    top: -10px;
    width: 100%;
    right: 0;
}

.header__notify-header {
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.26);
    font-size: 1.4rem;
    text-transform: capitalize;
    line-height: 4rem;
    cursor: default;
}

.header__notify-list {
    list-style: none;
    padding: 0;
}

.header__notify-item {
    width: 100%;
    padding: 8px 10px;
}

.header__notify-item:hover,
.header__notify-footer:hover {
    background-color: #fafafa;
}

.header__notify-link {
    text-decoration: none;
    display: flex;
}

.header__notify-img {
    height: 4rem;
    width: 4rem;
    margin-right: 6px;
    object-fit: cover;
}

.header__notify-content {
    margin-right: 10px;
    flex-grow: 1;
}

.header__notify--title {
    color: #000000cc;
    font-size: 1.4rem;
    line-height: 1.2;
}

.header__notify--description {
    font-size: 1.2rem;
    color: #0000008A;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-link {
    width: 100%;
    text-decoration: none;
    padding: 10px 0;
    color: #000000cc;
    font-size: 1.4rem;
    text-align: center;
}

.header__language {
    width: 205px;
    position: absolute;
    background-color: var(--white-color);
    top: calc(100% + 8px);
    right: 0;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform-origin: calc(100% - 32px) top;
    transform: scale(0);
    opacity: 0;
    will-change: opacity, transform;
    transition: all ease-in 0.2s;
    z-index: 99999;
}

.header__language::before {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-width: 20px 28px;
    top: -29px;
    right: 14px;
    border-color: transparent transparent #fff transparent;
}

.header__language::after {
    content: "";
    position: absolute;
    display: block;
    height: 20px;
    top: -10px;
    width: 100%;
    right: 0;
}

.header__language-list {
    list-style: none;
    padding: 0;
}

.header__language-item {
    width: 100%;
    padding: 10px;
}

.header__language-item:hover .header__language-link {
    color: var(--color-main);
}

.header__language-link {
    text-decoration: none;
    color: #000000DE;
    font-size: 1.4rem;
}

.header__language-link--active {
    color: var(--color-main);
}


/* Form modal */


/* Register */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
}

.auth-form__container {
    padding: 0 30px 12px;
}

.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12px;
}

.auth-form__name {
    font-size: 2rem;
    color: var(--text-color);
}

.auth-form__switch {
    font-size: 1.4rem;
    color: var(--color-main);
    font-weight: 700;
    cursor: pointer;
}

.auth-form__form {
    margin-top: 12px;
}

.auth-form__growth {
    margin-bottom: 16px;
}

.auth-form__control {
    padding: 12px;
    width: 100%;
    font-size: 1.4rem;
    outline: none;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.1);
    outline: none;
}

.auth-form__control:focus {
    border-color: #777;
}

.auth-form__aside {
    padding: 0 12px;
    text-align: center;
}

.auth-form__policy-text {
    font-size: 1.2rem;
}

.auth-form__link {
    text-decoration: none;
    color: var(--color-main);
}

.auth-form__btn {
    display: flex;
    justify-content: flex-end;
    margin-top: 80px;
}

.auth-form__btn--back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
}

.auth-form__socials-btnfb,
.auth-form__socials-btngg {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    padding: 0 8px;
    height: 30px;
    font-weight: 500;
}

.auth-form__socials-btnfb {
    color: var(--white-color);
    background-color: #1877f2;
}

.auth-form__socials-btngg {
    color: var(--text-color);
    background-color: var(--white-color);
}

.auth-form__socials-icon {
    font-size: 2.2rem;
}

.auth-form__socials--title {
    margin: 0 32px;
}


/* Login */

.auth-form__aside-login {
    margin-top: 12px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}

.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--color-main);
}

.auth-form__help-link--help {
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 2px solid rgb(219, 217, 217);
    height: 16px;
    margin: 0 16px;
}


/* Header + search + cart*/

.header-with-search {
    height: var(--height-logo_search_cart);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 270px;
    text-decoration: none;
    color: transparent;
    display: block;
}

.header__logo-img {
    width: 254px;
    height: 88px;
    margin-top: 10px;
    object-fit: cover;
}

.header__search {
    margin-top: 10px;
    flex: 1;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
}

.overlay__bar {
    background-color: rgba(0, 0, 0, 0.1);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 99999;
}

.header__search-nav {
    height: 40px;
    background-color: var(--white-color);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input {
    height: 100%;
    outline: none;
    border: none;
    padding: 0 16px;
    font-size: 1.4rem;
    color: var(--text-color);
    border-radius: 2px;
    width: 100%;
}

.header__search-select {
    font-size: 1.4rem;
    border-left: 2px solid rgb(219, 217, 217);
    padding-left: 16px;
    padding-right: 12px;
    color: var(--text-color);
    position: relative;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    padding: 0;
    right: 0;
    background-color: var(--white-color);
    top: 100%;
    width: 120px;
    box-shadow: 0 1px 2px #ccc;
    border-radius: 2px;
    display: none;
    z-index: 9999;
    animation: FadeIn ease-in .2s;
}

.header__search-option::before {
    position: absolute;
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    top: -20px;
    right: 0;
}

.header__search-option-item {
    list-style: none;
    padding: 8px;
    text-align: left;
}

.header__search-option-item:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    padding-left: 10px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--color-main);
    margin: 0 2px 0 6px;
}

.header__search-select-icon {
    padding-left: 8px;
    color: rgba(0, 0, 0, 0.3);
    position: relative;
    top: 1px;
}

.header__search-btn {
    height: 34px;
    width: 60px;
    background: #fb5533;
    padding: 0 15px;
    border: none;
    border-radius: 2px;
    margin-right: 3px;
}

.header__search-btn:hover {
    background: #fb6445;
}

.header__search-btn:active {
    background: var(--color-main);
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__cart {
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
}

.header__cart-icon {
    margin-top: 14px;
    font-size: 2.6rem;
    color: var(--white-color);
}


/* Lịch sử tìm kiếm */

.header__search-input-wrap {
    position: relative;
    flex: 1;
    height: 100%;
}

.header__search-input:focus~.header__history-search {
    display: block;
}

.header__history-search {
    width: calc(100% - 20px);
    background-color: var(--white-color);
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.212);
    border-radius: 2px;
    display: none;
    z-index: 9999;
}

.header__history-search-header {
    padding: 0 16px;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    line-height: 36px;
    margin: 0;
}

.header__history-search-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__history-search-item {
    padding: 0 16px;
    height: 36px;
}

.header__history-search-header:hover,
.header__history-search-item:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.header__history-search-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 36px;
    display: block;
}


/*Complete search*/

.header__search-complete-list {
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
}

.header__search-complete-item {
    margin-right: 12px;
    margin-top: 5px;
}

.header__search-complete-link {
    text-decoration: none;
    color: hsla(0, 0%, 100%, .9);
    font-size: 1.3rem;
}


/* Giỏ hàng */

.header__cart-wrap {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 0 12px;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-list {
    position: absolute;
    width: 400px;
    top: calc(100% + 10px);
    right: 5px;
    background-color: var(--white-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transform-origin: calc(100% - 32px) top;
    text-align: center;
    border-radius: 2px;
    z-index: 9999;
    transform: scale(0);
    opacity: 0;
    transition: all ease-in 0.3s;
}

.header__cart-wrap:hover .header__cart-list {
    transform: scale(1);
    opacity: 1;
    cursor: default;
}

.header__cart-list::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent #fff transparent;
    top: -25px;
    right: 5px;
    cursor: pointer;
}

.header__cart-list::after {
    content: "";
    position: absolute;
    height: 30px;
    top: -10px;
    right: 0;
    display: block;
    width: 50px;
}

.header__cart-img-empty {
    background-image: url(../img/cart_empty.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
    display: none;
}

.header__cart-desc-empty {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-top: 20px;
    margin-bottom: 0;
    cursor: text;
    display: none;
}


/*Header sort bar tablet and mobile*/

.header__sort-bar {
    position: fixed;
    top: var(--height-header);
    left: 0;
    right: 0;
    height: 46px;
    background-color: var(--white-color);
    margin: 0;
    display: none;
    padding: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.header__sort-item {
    flex: 1;
    list-style: none;
}

.header__sort-item:last-child .header__sort-link::before {
    display: none;
}

.header__sort-link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    display: block;
    text-align: center;
    height: 100%;
    width: 100%;
    line-height: 46px;
    position: relative;
}

.header__sort-link::before {
    position: absolute;
    content: "";
    height: 60%;
    border-left: 1px solid #e5e5e5;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.header__sort-item-active .header__sort-link {
    color: var(--color-main);
}

.header__sort-item-active {
    border-bottom: 2px solid var(--color-main);
}


/*Icon mobile*/

.header__icon-mobile {
    font-size: 2.6rem;
    color: var(--white-color);
    padding: 0 12px;
}

.icon-mobile {
    display: flex;
}

.icon__bars-mobile {
    display: none;
}

.icon__search-mobile {
    display: none;
}

.icon__mobile__search__class:checked~.header__search {
    display: block;
}

.icon__mobile__search__class:checked~.overlay {
    display: block;
}

.nav__mobile {
    position: fixed;
    top: var(--height-header);
    bottom: 0;
    left: 0;
    width: 60%;
    background-color: var(--white-color);
    z-index: 99999;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.3s;
    will-change: transform;
    overflow-y: auto;
}

.nav__mobile-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav__mobile-item {
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.178);
    margin: 0 10px;
}

.nav__mobile-link {
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    color: var(--text-color);
}

.nav__mobile-item:hover .nav__mobile-link {
    color: var(--color-main);
}

.nav__mobile-item:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.nav__mobile-item-actived .nav__mobile-link {
    color: var(--color-main);
}

.icon__mobile__bar__class:checked~.overlay__bar {
    display: block;
}

.icon__mobile__bar__class:checked~.nav__mobile {
    opacity: 1;
    transform: translateX(0);
}


/*Thay đổi giỏ hàng*/

.header__cart-list-empty.header__cart-list {
    padding: 60px 0;
}

.header__cart-list-empty .header__cart-desc-empty {
    display: block;
}

.header__cart-list-empty .header__cart-footer,
.header__cart-list-empty .header__cart-heading,
.header__cart-list-empty .header__cart-list-products {
    display: none;
}

.header__cart-list-empty .header__cart-img-empty {
    display: inline-block;
}

.header__cart-notice {
    position: absolute;
    color: var(--color-main);
    background-color: var(--white-color);
    padding: 0px 5px;
    min-width: 26px;
    height: 16px;
    line-height: 17px;
    border-radius: 40px;
    font-size: 1.4rem;
    font-weight: 500;
    top: 8px;
    right: -1px;
    text-align: center;
}


/*Giỏ hàng có SP*/

.header__cart-heading {
    font-size: 1.4rem;
    line-height: 40px;
    text-align: left;
    padding-left: 1rem;
    color: rgba(0, 0, 0, 0.3);
    margin: 0;
}

.header__cart-list-products {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 50vh;
    overflow-y: auto;
}

.header__cart-item {
    padding: 10px;
}

.header__cart-item:hover {
    background-color: rgba(0, 0, 0, 0.027);
}

.header__cart-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.header__cart-img {
    height: 42px;
    width: 42px;
    object-fit: cover;
}

.header__cart-desc {
    flex: 1;
    text-align: left;
    margin-left: 10px;
}

.header__cart-desc-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-name {
    font-size: 1.4rem;
    color: hsla(0, 0%, 0%, 0.8);
    margin: 0;
    overflow: hidden;
    display: inline-block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.header__cart-money {
    display: flex;
}

.header__cart-price {
    color: var(--color-main);
    font-size: 1.4rem;
    margin-right: 4px;
}

.header__cart-quantity {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 4px;
}

.header__cart-desc-body {
    margin: 6px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-type {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.37);
    margin: 0;
}

.header__cart-remove {
    font-size: 1.2rem;
    color: var(--text-color);
}

.header__cart-remove:hover {
    color: var(--color-main);
}

.header__cart-footer {
    padding: 10px;
    text-align: right;
}

.btn-cart:hover {
    background-color: #fe6032;
}

.btn-cart:active {
    background-color: var(--color-main);
}


/*App container*/

.app {
    overflow: hidden;
}

.app__container {
    background-color: #f5f5f5;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    color: #313131;
    font-size: 1.6rem;
    border-bottom: 1px solid rgb(233, 233, 233, 1);
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 0;
}

.category__heading-icon {
    font-size: 1.2rem;
    margin-right: 6px;
}

.category-list {
    list-style: none;
    padding: 0;
    margin-left: 8px;
}

.category-item {
    padding: 8px 12px;
    cursor: pointer;
}

.category-item--active {
    position: relative;
}

.category-item--active .category-link {
    color: var(--color-main);
}

.category-item--active .category-link::before {
    content: "";
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent transparent var(--color-main);
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.category-link {
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    color: var(--text-color);
    position: relative;
    right: 0;
    transition: right linear 0.2s;
}

.category-link:hover {
    color: var(--color-main);
    right: -5px;
}


/*Category mobile*/

.category-mobile {
    display: none;
}

.category-mobile__list {
    list-style: none;
    display: flex;
    padding-left: 0;
    margin: 0;
    max-width: 100%;
    overflow-x: auto;
}

.category-mobile__list::-webkit-scrollbar {
    display: none;
}

.category-mobile__item {
    /*ko cho co lại*/
    flex-shrink: 0;
    margin-right: 10px;
}

.category-mobile__item:last-child {
    margin-right: 0;
}

.category-mobile__item:nth-of-type(3n + 1) .category-mobile__link {
    background-color: #87afd8;
}

.category-mobile__item:nth-of-type(3n + 2) .category-mobile__link {
    background-color: #76c9bd;
}

.category-mobile__item:nth-of-type(3n) .category-mobile__link {
    background-color: #88cf81;
}

.category-mobile__link {
    display: block;
    text-decoration: none;
    font-weight: 300;
    color: var(--white-color);
    font-size: 1.4rem;
    width: 110px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    /*hiện 2 dong thì đặt lineheight = height/2 =  40 / 2*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    padding: 0 4px;
}


/*sort bar*/

.sort-bar {
    background-color: #ededed;
    width: 100%;
    padding: 14px 20px;
    display: flex;
    align-items: center;
}

.sort-bar__lable {
    display: inline-block;
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.589);
    font-weight: 500;
}

.btn--sort-bar {
    background-color: var(--white-color);
    color: var(--text-color);
    min-width: 90px;
}

.sort-bar__select {
    display: inline-block;
    background-color: var(--white-color);
    height: 36px;
    text-decoration: none;
    border-radius: 3px;
    font-size: 1.4rem;
    padding: 0 12px;
    cursor: pointer;
    user-select: none;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    position: relative;
    z-index: 999;
}

.sort-bar__select:hover .sort-bar__select-option {
    display: block;
}

.sort-bar__select-option {
    position: absolute;
    top: 102%;
    border-radius: 2px;
    background-color: var(--white-color);
    left: 0;
    width: 100%;
    display: none;
    animation: FadeIn ease-in 0.2s;
}

.sort-bar__select-option-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.sort-bar__select-option-item {
    padding: 0 12px;
    height: 36px;
    line-height: 36px;
    color: var(--text-color);
}

.sort-bar__select-option-item:hover {
    color: var(--color-main);
}

.sort-bar__select-icon {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.349);
}

.sort-bar__page {
    margin-left: auto;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    color: var(--text-color);
}

.sort-bar__current-page {
    color: var(--color-main);
}

.sort-bar__tranfer {
    margin-left: 20px;
}

.sort-bar__btn {
    background-color: transparent;
    appearance: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
    outline: none;
    height: 36px;
    text-decoration: none;
    padding: 0 12px;
    border-radius: 3px;
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #555;
}

.sort-bar__btn.sort-bar__btn-disabled {
    cursor: default;
    background-color: #f9f9f9;
    border-color: rgba(0, 0, 0, 0.09);
    color: #ccc;
    pointer-events: none;
}

.sort-bar__btn:hover {
    background-color: var(--white-color);
}


/* Home products */

.home-products {
    margin-bottom: 10px;
}

.home-product-item {
    margin-top: 10px;
    background-color: var(--white-color);
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    top: 0;
    transition: top linear 0.2s;
    will-change: top;
    display: block;
    text-decoration: none;
}

.home-product-item:hover {
    top: -1px;
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}

.home-product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item-body {
    padding: 10px;
}

.home-product-item__name {
    font-size: 1.2rem;
    color: var(--text-color);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__sale {
    margin-top: 5px;
    font-size: 1rem;
    color: var(--color-main);
    border: 1px solid var(--color-main);
    padding: 2px 4px;
    line-height: 1;
    cursor: default;
    display: inline-block;
}

.home-product-item__price {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

.home-product-item__price--old {
    font-size: 1.4rem;
    text-decoration: line-through;
    margin-right: 5px;
    color: rgba(0, 0, 0, 0.54);
    font-weight: 400;
}

.home-product-item__price--curent {
    font-size: 1.6rem;
    color: var(--color-main);
    font-weight: 400;
}

.home-product-item__price--icon {
    margin-left: auto;
}

.home-product-item__action {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.home-product-item__action--like {
    color: rgba(0, 0, 0, 0.548);
    font-size: 1.6rem;
}

.home-product-item__action--like--liked .home-product-item__action--like-icon-empty {
    display: none;
}

.home-product-item__action--like--liked .home-product-item__action--like-icon-fill {
    display: block;
}

.home-product-item__action--like-icon-fill {
    color: red;
    display: none;
}

.home-product-item__action--rigth {
    margin-left: auto;
    display: flex;
}

.home-product-item__action--rating {
    color: rgb(255, 206, 61);
    font-size: 0.8rem;
}

.home-product-item__action--sold {
    font-size: 1.2rem;
    margin-left: 5px;
    color: var(--text-color);
}

.home-product-item__location {
    font-size: 1.2rem;
    margin-top: 5px;
    text-align: right;
    color: rgba(0, 0, 0, 0.836);
    font-weight: 200;
}

.home-product-item__like {
    position: absolute;
    background-color: #f25220;
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding: 0 4px;
    height: 1.6rem;
    top: 10px;
    left: -4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.home-product-item__like::before {
    position: absolute;
    content: "";
    display: block;
    border-top: 4px solid #913113;
    border-left: 4px solid transparent;
    top: 100%;
    left: 0;
}

.home-product-item__promotion {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffd839;
    width: 36px;
    height: 32px;
    text-align: center;
    z-index: 5;
    border-top-right-radius: 2px;
}

.home-product-item__promotion::after {
    content: "";
    position: absolute;
    display: block;
    border-style: solid;
    border-color: transparent #ffd839 transparent #ffd839;
    border-width: 0 18px 4px 18px;
    top: 100%;
    right: 0;
    z-index: 4;
}

.home-product-item__promotion--percent {
    color: var(--color-main);
    font-size: 1.2rem;
    font-weight: 500;
}

.home-product-item__promotion--title {
    color: var(--white-color);
    font-size: 1.2rem;
}


/*footer*/

.footer {
    border-top: 4px solid #ee4d2d;
    background-color: var(--white-color);
}

.footer__introduce--heading {
    font-size: 1.2rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.719);
    margin-bottom: 20px;
    margin-top: 40px;
}

.footer__introduce-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer__introduce-item {
    margin-bottom: 12px;
}

.footer__introduce-item:hover .footer__introduce-link {
    color: var(--color-main);
}

.footer__introduce-item:hover .footer__introduce-icon {
    color: #4a4a4a;
}

.footer__introduce-link {
    font-size: 1.2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    font-weight: 500;
}

.footer__introduce-icon {
    font-size: 1.6rem;
    margin-right: 8px;
    color: #4a4a4a;
}

.footer__download {
    display: flex;
}

.footer__download-QR {
    width: 84px;
    height: 84px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 16px;
}

.footer__download-app {
    display: flex;
    flex-direction: column;
}

.footer__download-app-item {
    width: 84px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.footer__introduce-pay {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.footer__introduce-pay-item {
    width: 40%;
}

.footer__introduce-pay-img {
    height: 35px;
    width: 100%;
    object-fit: cover;
}

.footer__introduce-transport-img {
    width: 204px;
    height: 82px;
    object-fit: cover;
}

.footer__bottom {
    background-color: #f5f5f5;
}

.footer__info {
    padding: 24px 0;
}

.footer__info p:first-child {
    font-size: 1.4rem;
    margin-bottom: 18px;
}

.footer__info p {
    margin: 0;
    width: 100%;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.678);
    text-align: center;
    margin-top: 8px;
}