/* Mobile & Tablet */

@media (max-width:1023px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header {
        position: fixed;
        z-index: 999999;
        top: 0;
        right: 0;
        left: 0;
    }
    .header__cart-list {
        position: fixed;
        width: 100%;
        top: var(--height-header);
        right: 0;
        padding: 0 calc((100% - 644px) / 2);
    }
    .header__cart-list::before {
        display: none;
    }
    .header__cart-list::after {
        padding-right: calc((100% - 644px) / 2);
        top: -20px;
    }
    .app__container {
        margin-top: calc(var(--height-header) + 46px);
    }
    .header__sort-bar {
        display: flex;
    }
    .category-mobile {
        display: block;
    }
}


/* Mobile */

@media (max-width:739px) {
     :root {
        --height-navbar: 0px;
        --height-header: 50px;
    }
    .mp-mobile-footer {
        padding: 0 16px;
    }
    .mb-mobile {
        margin-bottom: 24px;
    }
    .mp-mobile {
        margin: 0 4px;
        padding-top: 8px;
    }
    .hide-on-mobile {
        display: none;
    }
    .header-with-search {
        justify-content: space-between;
    }
    .icon__bars-mobile {
        display: block;
    }
    .icon__search-mobile {
        display: block;
    }
    .header__logo {
        width: 150px;
    }
    .header__logo-img {
        width: 100%;
        height: 100%;
    }
    .header__cart {
        width: unset;
        margin-right: 10px;
    }
    .header__search {
        position: fixed;
        top: var(--height-header);
        right: 0;
        left: 0;
        z-index: 1;
        margin-top: 0;
        box-shadow: 0 0 2px rgb(0, 0, 0, 0.05);
        padding-right: 8px;
        display: none;
        animation: FadeInSearch linear 0.3s;
        transition: all 0.3s;
    }
    @keyframes FadeInSearch {
        from {
            opacity: 0;
            top: calc(var(--height-header) / 2);
        }
        to {
            opacity: 1;
            top: var(--height-header);
        }
    }
    .header__history-search {
        position: fixed;
        top: calc(var(--height-header) + 44px);
        left: 0;
        right: 0;
        width: 100%;
    }
    .pagination-item {
        margin: 0;
    }
    .pagination-link {
        min-width: 22px;
        font-size: 1.6rem;
        margin: 0px 10px;
    }
    .footer__introduce--heading {
        text-align: center;
    }
    .footer__introduce-link,
    .footer__introduce-pay,
    .footer__download,
    .footer__transport {
        justify-content: center;
    }
    .footer__introduce-link {
        text-align: center;
    }
}


/* Tablet */

@media (min-width:740px) and (max-width:1023px) {
     :root {
        --height-navbar: 0px;
        --height-header: 70px;
    }
    .hide-on-tablet {
        display: none;
    }
    .header__cart {
        width: 69px;
        text-align: right;
    }
    .footer__transport {
        justify-content: center;
    }
}